@font-face {
  font-family: 'Special Elite';
  font-weight: 400;
  font-display: fallback;
  src: local('SpecialElite-Regular'),
    url('/fonts/SpecialElite-Regular.woff2') format('woff2'),
    url('/fonts/SpecialElite-Regular.woff') format('woff');
}

:root {
  --ff: 'Special Elite', cursive;
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  background: url('./images/background.webp');
  background-size: cover;
  font-family: 'Special Elite', cursive;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>🍺</text></svg>")
      16 0,
    auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.joke-button {
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  font-family: 'Special Elite', cursive;
  /* position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 4px;
  margin-top: 2rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='38' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>🍺</text></svg>")
      16 0,
    auto;
}

.joke-text {
  font-size: 1.8rem;
  max-width: 60%;
  /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* Splash screen */
.splash-screen {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.splash-site-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.splash-span {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.splash-span.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.splash-span.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
